* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f8f9fa;
    color: #333;
    font-size: 16px;
}

a {
    text-decoration: none;
}




/* ------ */
/* INDEX  */
/* ------ */



#vertical-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 120px;
    height: 100%;
    background: linear-gradient(to bottom, #011638, #5C5470, #CFBAE1, #EDE7F6, #B3E5FC);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 0;
    
}

.logo {
    background: linear-gradient(to top, #5C5470, #CFBAE1, #B3E5FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#vertical-bar button {
 /* A personnaliser */
}

#presentation {
    margin-left: 120px;
    background: #f8f9fa;
}

header {
    display: flex;
    align-items: center; 
    padding: 0 4%;
    border-bottom: #333 solid 1px;
    background: #f8f9fa;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    background: #f8f9fa;
    border-bottom: #333 solid 1px;
    padding-left: 40px;
    padding-right: 40px;
    top: 0;
    left: 120px;
    right: 0;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}


nav ul li a {
    color: #011638;
    font-weight: 550;
    transition: color 0.3s;
}

nav li a:hover {
    color: #5C5470;
}

.container {
    margin-top: 70px;
    display: flex;
    border-bottom: #333 solid 1px;
}

#container-header-right {
    padding-top: 100px;
    background: #f8f9fa;
    padding: 100px 20px 0px 20px;
}

#container-header-right h1 {
    color: #011638;
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 35px;
}


#container-header-right p {
    color: #5C5470;
    font-size: 1rem;
    font-weight: normal;
    margin-right: 30px;
}

#container-header-left {
    width: 100%;
    text-align: center;
    border-right: #333 solid 1px;;
}

#img1 {
    width: 100%;
    max-width: 850px;
    height: 450px;
}



/* Contenu principal */
.content {
    margin-left: 120px;
    display: flex;
    justify-content: center;
}

.content p, .content li {
    text-align: justify;
}

.content-center {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    background: #f8f9fa;
    padding: 30px 40px;
}

.column {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

hr {
  height: 1px;
  margin: 20px 0;
  background: #333;
}

.content h1 {
    font-size: 1.6rem;
    color: #011638;
}

.content h3 {
    font-size: 1.3rem;
    font-weight: normal;
    color: #6F5E5C;
    margin-bottom: 10px;
}

.content p, .content li {
  font-size: 0.8rem;
  list-style: none;
  margin-bottom: 6px;
}

#cta-btn {
    background-color: #011638;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cta-btn:hover {
    background-color: #5C5470;
    transition: 0.2s;
}












/* ------ */
/* FOOTER */
/* ------ */

footer {
    height: 90vh;
    background: linear-gradient(to bottom, #011638, #5C5470, #CFBAE1, #EDE7F6, #B3E5FC);
    margin-left: 120px;
    border-left: white solid 1px;

}

.footer-upper-container {
    border-bottom: white solid 1px;
    height: 95px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-upper-container p {
    color: #f8f9fa;
    font-weight: bold;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: #f8f9fa solid 1px;
    height: 470px;
}

.footer-columns {
    display: flex;
    gap: 50px;
}

.footer-btn {
    color: white;
    font-size: 0.9rem;
}

.footer-btn:hover {
    color: #011638;
}

.footer-contact {
    border-radius: 10px;
    padding: 10px 0;
    width: 50%;
    min-width: 320px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
    gap: 10px;
}

.footer-contact:hover {
    box-shadow: 0 0 15px rgba(111, 94, 92, 0.5); 
}

.footer-contact h3 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-contact form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 9px;
}

.content2 {
    display: flex;
    flex-direction: column;
}

.footer-contact input,
.footer-contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.footer-contact textarea {
    height: 90px;
}

.footer-contact button {
    padding: 10px;
    cursor: pointer;
}