* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f8f9fa;
    color: #333;
    font-size: 16px;
}

a {
    text-decoration: none;
}

#presentation {
    height: auto;
    min-height: 100vh;
    border-bottom: #011638;
}


#last-header {
    background: linear-gradient(to bottom, #b0c4de, #f8f9fa);
    height: 250px; 
}

header {
    display: flex;
    align-items: center; 
    height: 70px; 
    padding: 0 4%;
    background: linear-gradient(to bottom, #f8f9fa, #b0c4de);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%; 
}


nav ul li a {
    color: #011638;
    font-weight: 700;
}

.container {
    padding: 0 8%;
    height: 100%;
    display: flex;
    padding-top: 150px;
    background: #b0c4de;
}

#container-header-left {
    padding-top: 20px;
    width: 50%;
}

h3 {
    color: #6F5E5C;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

h2 {
    color: #011638;
    font-size: 4rem;
    margin-bottom: 15px;
}

#container-header-right {
    width: 50%;
    align-items: center;  
}

#img1 {
    width: 100%;
    max-width: 400px; 

    /* Appliquer un fondu avec un dégradé */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);

}

#presentation #btn {
    margin-top: 20px;
}

.cta-btn {
    background-color: #011638;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.cta-btn:hover {
    background-color: #6F5E5C;
    transition: 0.2s;
}

#presentation .modal {
    background: rgba(0, 0, 0, 0.6);
}

/* Contenu de la modale */
.modal .modal-content {
    border-radius: 10px;
    height: 600px;
    padding: 20px;
    overflow-x: hidden; /* Masque le défilement vertical */
    overflow-y: scroll; /* Permet le défilement */
    position: relative;
}

.modal .modal-content::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement horizontale */
}

.modal-content > img {
    width: 100%;
    object-fit: contain; 
}

.modal-content h2 {
    font-size: 2rem;
}

.upper-cv img {
    margin-left: 10px;
    width: 40px; 
    height: 40px;
}

.upper-cv {
    display: flex;
    justify-content: center;
}

.upper-cv img:hover {
    transform: scale(1.1);
}


.modal-content .close:hover {
    color: #6F5E5C;
}


.info-container {
    padding: 20px 10px;
    border-bottom: #333 solid;
}

.info-container > h3 {
    display: flex;
    justify-content: center;
    color: #011638;
    font-size: 2.3rem;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les enfants horizontalement */
}

#skills > div {
    display: flex;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px #333;
    margin-bottom: 25px;
     
}

.title {
    justify-content: space-around;
    width: 80%;
    transition: transform 0.3s ease;
}

.title:hover {
    transform: translateY(-5px);
}

.techno {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 50%;
}

.titreStacks {
    font-weight: bold;
    width: 20%;
    color: #6F5E5C;
}

.skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-item img {
    width: 50px; 
    height: 50px;
}

.skill-item p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.category-btn {
    background: #011638;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.category-btn:hover {
    background-color: #6F5E5C;
    transition: 0.2s;
}

.category-btn.active {
    background-color: #6F5E5C;
}

.projects {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.projects.visible {
    display: block;
    opacity: 1;
    max-height: 1000px;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

.project-card {
    width: 90%;
    max-width: 1000px;
    margin-bottom: 15px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.3s ease-out;
    opacity: 0;
    transform: translateY(10px);
    cursor: pointer;
}

.project-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Ajout d'une ombre pour l'effet */
}
 
.project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-card.removing {
    opacity: 0;
    transform: translateY(-10px);
}












form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
}


/* Styles pour la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenu de la modale */
.modal-content {
    background-color: white;
    padding: 20px;
    width: 60%;
    max-width: 700px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Bouton de fermeture */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.close:hover {
    color: red;
}
