* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f8f9fa;
    color: #333;
    font-size: 16px;
}

/* Empêche le défilement quand la modale est ouverte */
body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/* Style amélioré pour la modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow-y: auto; /* Permet le scroll uniquement dans la modale */
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

hr {
    margin: 0;
    padding: 0;
    color: #333 solid 1px;
}

/* Active le scroll snapping */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* Style personnalisé pour la barre (WebKit) */
::-webkit-scrollbar {
    display: none;
}



#presentation,
#skill-section,
#roadmap-section,
#project-section,
#footer {
    scroll-snap-align: start;
    height: 100vh;
    border-bottom: #333 solid 1px;
    overflow-y: auto;
}



/* ------ */
/* INDEX  */
/* ------ */

#vertical-bar-section {
    display: flex;
}

#vertical-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 120px;
    height: 100%;
    background: linear-gradient(to bottom, #011638, #5C5470, #CFBAE1, #EDE7F6, #B3E5FC);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 0;
    
}

.logo {
    background: linear-gradient(to top, #5C5470, #CFBAE1, #B3E5FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#vertical-bar button {
 /* A personnaliser */
}

#presentation {
    margin-left: 120px;
    width: 100%;
    height: auto;
    height: 100vh;
    background: linear-gradient(to bottom, #011638, #f8f9fa);
}

header {
    display: flex;
    align-items: center; 
    height: 70px; 
    padding: 0 4%;
    border-bottom: #333 solid 1px;
    background: #f8f9fa;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}


nav ul li a {
    color: #011638;
    font-weight: 550;
    transition: color 0.3s;
}

nav li a:hover {
    color: #5C5470;
}

.container {
    height: 90vh;
    display: flex;
}

#no-arrow {
    width: 100%;
    border-left: #333 solid 1px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-header-right {
    padding-top: 100px;
    background: #f8f9fa;
    padding: 100px 20px 0px 20px;
}

h2 {
    color: #011638;
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 35px;
}


h3 {
    color: #5C5470;
    font-size: 1rem;
    font-weight: normal;
    margin-right: 30px;
}

#container-header-left {
    width: 100%;
    text-align: center;
    padding-top: 125px;
}

#img1 {
    width: 100%;
    max-width: 400px;

    /* Appliquer un fondu avec un dégradé */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);

}

#container-header-right #btn {
    margin-top: 35px;
    background: #f8f9fa;
}

.cta-btn {
    background-color: #011638;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: #5C5470;
    transition: 0.2s;
}

#writing-wrapper {
    position: relative;
    overflow: hidden;
    height: 200px; /* ajuste à la hauteur du contenu */
}

.writing {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.writing.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

.writing.exit-left {
    transform: translateX(-100%);
    opacity: 0;
}

.writing.exit-right {
    transform: translateX(100%);
    opacity: 0;
}

#left-bottom-header {
    padding-top: 225px;
}

#left-bottom-header hr {
    color: #333 solid 1px;

}

.arrow-nav {
    padding: 5px 0;
    display: flex;
    text-align: right;
    justify-content: center;
    gap: 20px;
}

.arrow {
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #5C5470 solid;
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.arrow:hover {
    transform: scale(1.05);
}

#presentation .modal {
    display: none;
    position: fixed; /* Fixe la modale au-dessus de la page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fond sombre semi-transparent */
    z-index: 1000; /* Assure que la modale est au-dessus des autres éléments */
    justify-content: center;
    align-items: center;
}

/* Contenu de la modale */
.modal .modal-content {
    border-radius: 10px;
    height: 600px;
    padding: 20px;
    overflow-x: hidden; 
    overflow-y: scroll; 
    position: relative;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 60%;
    max-width: 700px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal .modal-content::-webkit-scrollbar {
    display: none; 
}

.modal-content > img {
    width: 100%;
    object-fit: contain; 
}

.modal-content h2 {
    font-size: 2rem;
}

.upper-cv img {
    margin-left: 10px;
    width: 40px; 
    height: 40px;
}

.upper-cv {
    display: flex;
    justify-content: center;
}

.upper-cv img:hover {
    transform: scale(1.1);
}

/* Fermer le bouton */
.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}


.modal-content .close:hover {
    color: #6F5E5C;
}


/* FIN PRESENTATION */


.info-container {
    margin-left: 120px;
}

.info-container > h3 {
    display: flex;
    justify-content: center;
    color: #011638;
    font-size: 2.3rem;
}


/* DEBUT SECTION SKILLS */

#skill-section {
    height: 100vh;
    display: flex;
}

#titre {
    width: 30%;
    padding: 0 20px;
    min-width: 200px;
    background-image: url("images/stacks-banner2.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* L'assombrissement */
#titre::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Ombre */
    transition: background 0.5s ease;
    pointer-events: none; /* pour ne pas bloquer les clics ou le hover */
    z-index: 1;
}

#titre h3 {
    position: relative;
    z-index: 2;
    color: #f8f9fa;
    width: 100%;
    font-size: 2.6rem;
    font-weight: normal;
    margin-top: 50px;
}

#titre:hover::after {
    background: rgba(0, 0, 0, 0);
}

#titre:hover h3 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

#skills {
    background: #f8f9fa;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#skills > div {
    display: flex;
    flex: 1;
    padding: 20px 0;
     
}

.title {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transition: transform 0.3s ease;
}

.title0:hover {
    transform: translateX(-5px);
    background: linear-gradient(to right, transparent, #011638);
}

.title1:hover {
    transform: translateX(-5px);
    background: linear-gradient(to right, transparent, #5C5470);
}

.title2:hover {
    transform: translateX(-5px);
    background: linear-gradient(to right, transparent, #CFBAE1);
}

.title3:hover {
    transform: translateX(-5px);
    background: linear-gradient(to right, transparent, #B3E5FC);
}
 
.title:hover .titreStacks {
    color: #011638;
}

.title:hover .skill-item p {
    color: black;
}

.techno {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 50%;
}

.tech-stack {
    border: #5C5470 solid 1px;
    border-radius: 20px;
    padding: 7px 5px;
    background: none;
    cursor: pointer;
}

.titreStacks {
    font-weight: bold;
    font-size: 1.5rem;
    width: 20%;
    color: rgb(173, 173, 173);
}


.skill-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-item img {
    width: 50px; 
    height: 50px;
}

.skill-item p {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    color: rgb(173, 173, 173)
}



/* ------ */
/*   MAP  */
/* ------ */

#roadmap-section {
    position: relative;
    height: 100vh;
    background: black;
}


#roadmap {
    color: #f8f9fa;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 0px;
}

#roadmap::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; 
    height: 2px;
    width: 0;
    background-color: #f8f9fa;
    transition: width 0.4s ease;
}

#roadmap:hover::after {
    width: 100%;
}

.timeline {
    position: relative;
    z-index: 2;
    height: 15px;
    width: 95%;
    border: #011638 solid;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
}

.timeline:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 5px rgba(255, 255, 255, 0.6);
    background: linear-gradient(to right, #E1BEE7, #FFF3E0, #81D4FA);
}

.vertical.active {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}


.vertical {
    transform: rotate(90deg);
    width: 50px;
    top: 50%;
    z-index: 1;
    cursor: pointer;
}


.timeline0 {
    top: 50%;
    left: 50%;
    background: linear-gradient(to right, #CFBAE1, #EDE7F6, #B3E5FC);
    transform: translate(-50%, -50%);
}

.timeline1 {
    top: 43%;
    left: 5%;
    background: #d6c5e6;
}

.timeline2 {
    top: 46%;
    left: 25%;
    background: #dfd3ed;
}

.timeline3 {
    top: 37.5%;
    left: 45%;
    background: #ece6f5;
}

.timeline4 {
    top: 40.5%;
    left: 65%;
    background: #d8e6f8;
}

.timeline5 {
    top: 32%;
    left: 85%;
    background: #c0e6fb;
}

.timeline-item {
    background: black;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 210px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.timeline-item:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.course-title {
    margin-bottom: 2px;
}


.date {
    position: absolute;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    color: #f8f9fa;
}

.date.active {
    opacity: 1;
}

.date-aut23 {
    top: 42%;
    left: 150px;
}

.date-win24 {
    top: 56%;
    left: 14%;
}

.date-sum24 {
    top: 43%;
    left: 54%;
}

.date-aut24 {
    top: 58%;
    left: 54%;
}

.date-win25 {
    top: 41%;
    right: 17%;
}

.course-title {
    font-weight: bold;
    font-size: 1rem;
}

.each-title {
    display: flex;
    justify-content: space-between;
}

.each-title h4 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #878a96;

}

.each-title p {
    font-size: 0.8rem;
    color: #878a96;
    
}

.automn23 {
    width: 210px;
    left: 2%;
    top: 25%;
}

.winter24 {
    left: 15%;
    top: 60%;
}

.summer24 {
    width: 300px;
    left: 35%;
    top: 1%;
}

.automn24 {
    width: 250px;
    left: 56%;
    top: 62%;
}

.winter25 {
    width: 250px;
    right: 4%;
    top: 12%;
}



/* ------- */
/* PROJECT */
/* ------- */
  

#titre-projet {
    height: 110px;
    background-image: url("images/project-banner.png");
    background-size: cover;
    background-position: center;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

#my-projects {
    color: #f8f9fa;
    font-size: 2.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1.5);
}

.categories {
    padding-left: 5%;
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    border-bottom: #ccc solid 1px;
}

.category-btn {
    color: #ccc;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.1s;
    
}

.category-btn:hover, .category-btn.active {
    color: #011638;
    border-bottom: #011638 solid 3px;
}

#projects-container {
    height: 64.5vh;
    padding-left: 5%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#projects-container::-webkit-scrollbar {
    display: none;
}

.projects {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.projects.visible {
    opacity: 1;
    max-height: 1000px;
}

.project-card {
    border: #333 solid 1px;
    min-width: 280px;
    width: 28%;
    
    height: 350px;
    margin-right: 35px;
    transition: all 0.3s ease-out;
    opacity: 0;
    transform: translateY(10px);
    cursor: pointer;
}

.project-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Ajout d'une ombre pour l'effet */
}
 
.project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-card.removing {
    opacity: 0;
    transform: translateY(-10px);
}

#slider {
    width: 100%;
    overflow: hidden; /* Empêche le contenu de dépasser */
    position: relative;
}

.project-item {
    gap: 50px;
    width: 100%;
    
}

.left-project-content {
    height: 150px;
    overflow: hidden; /* Important pour cacher le débordement */
    justify-content: center;
}

.left-project-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.project-content {
    padding: 10px 15px;
    border-top: #333 solid 1px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-content h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #113647;
}

.project-content p {
    margin-bottom: 15px;
    color: #444;
}


/* ------ */
/* FOOTER */
/* ------ */

footer {
    height: 100vh;
    background: linear-gradient(to bottom, #011638, #5C5470, #CFBAE1, #EDE7F6, #B3E5FC);
    margin-left: 120px;
    border-left: white solid 1px;

}

.footer-upper-container {
    border-bottom: white solid 1px;
    height: 95px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-upper-container p {
    color: #f8f9fa;
    font-weight: bold;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: #f8f9fa solid 1px;
    height: 470px;
}

.footer-columns {
    display: flex;
    gap: 50px;
}

.footer-btn {
    color: white;
    font-size: 0.9rem;
}

.footer-btn:hover {
    color: #011638;
}

.footer-contact {
    border-radius: 10px;
    padding: 10px 0;
    width: 50%;
    min-width: 320px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
    gap: 10px;
}

.footer-contact:hover {
    box-shadow: 0 0 15px rgba(111, 94, 92, 0.5); 
}

.footer-contact h3 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-contact form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 9px;
}


.footer-contact input,
.footer-contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
}

.footer-contact textarea {
    height: 90px;
}

.footer-contact button {
    padding: 10px;
    cursor: pointer;
}



